body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Manrope', sans-serif; */

    /* font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif; */
}



header {
    margin: 87px 120px;
}


.band-title {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;


}

nav ul a {
    text-decoration: none;
    margin-right: 34px;

    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;

}

.camera-img {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;


}

.camera-img img {
    position: relative;
    top: 30px;
}

.banner-container {
    display: flex;
    margin-top: 50px;
    gap: 90px;
}

.banner-title {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    width: 582px;
    height: 133px;
}

.banner-despt {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
    width: 505px;
    height: 60.9px;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: 0;

    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 700;

}

.brand-container,
.Popular-Collection-section {
    margin: 70px 150px;
}

.horizontal-boder {
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

.brand-name-container {
    padding: 35px 0;
}

.brand-name-container img {

    margin-right: 62px;
}


.section-title {
    text-align: center;
}



.card * {
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
}

.card img {
    border-radius: 5px;
    padding: 17px 14px;
    padding-bottom: 0px;
}

.item-name {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 14px;
    margin-bottom: 6px;
}

.item-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 14px;
    margin-bottom: 6px;
    /* 36px */
}

.item-rating {
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.1px;
    padding-left: 14px;
    margin-bottom: 6px;
}

.item-despt {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    padding-left: 14px;
    margin-bottom: 6px;
    width: 196px;
}

.card-container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px; 
}












/* responsive for small device */

@media screen and (max-width:576px) {
    header {
        margin: 5px;
    }

    nav {
        flex-direction: column;
        align-items: normal;
    }

    nav h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-container {
        flex-direction: column-reverse;

    }


    .banner-title,
    .banner-despt {
        width: 80%;
        height: 80%;
        text-align: center;

    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-container img {
        width: 90%;

    }

    .camera-img {
        background-size: cover;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .horizontal-boder {
        display: none;
    }

    .brand-name-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Change to 3 columns for mobile */
    }



    .brand-container {
        margin: 5px 5px;
    }

    .brand-name-container img {

        width: 80%;

        margin-right: 2px;
    }

    .brand-name-container {
        justify-items: center;
        grid-row-gap: 20px;

    }

    .Popular-Collection-section {
        margin: 0;
    }
    .card-container {
        padding: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
}
